@font-face {
  font-family: 'Doto';
  src: url('font/Doto_Rounded-SemiBold.ttf');
  font-weight: regular;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
* {
    font-family: "Press Start 2P";
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    background-color: #0f0e0e;
}


#calc-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    background-color: #39342d; 
    border: 6px rgb(88, 88, 88) solid;
    border-right: 6px #232323 solid;
    border-bottom: 6px #232323 solid;
    border-radius: 6px;

}

.result {
    border: 4px rgb(88, 88, 88) solid;
    border-left: 4px #232323 solid;
    border-top: 4px #232323 solid;
    border-radius: 5px;
    padding: 14px;
    background-color: #ffaa01;
}

div, h3 {
    font-family: "Press Start 2P";
}

h3 {
    font-size: 30px;
        color: #ffffff;
}
label {
    font-family: "Press Start 2P";
    color: #ffffff;
}
button {
    background-color: #ffaa01;
    border: 2px rgb(88, 88, 88) solid;
    border-right: 4px #232323 solid;
    border-bottom: 4px #232323 solid;
    border-radius: 4px;

}
button:hover {
    background-color: #5d3e00;
    color: #ffffff;
}
input, select {
    background-color: #0f0e0e;
    border-radius: 4px;
    color: #ffffff;
    border: 2px rgb(88, 88, 88) solid;
    border-right: 4px #232323 solid;
    border-bottom: 4px #232323 solid;
    border-radius: 4px;
}